.header {
    width: 880px;
    height: 74px;
    padding-top: 45px;
   
}
.header__image {
    width: 173px;
    height: 33px;
}

@media screen and (max-width: 920px) {
    .header {
        width: 580px;
    }
}
@media screen and (max-width: 650px){
    .header {
        width: 100%;
    }
    .header__image {
        padding-left: 27px;
    }
}