.header {
    width: 880px;
    height: 74px;
    padding-top: 45px;
   
}
.header__image {
    width: 173px;
    height: 33px;
}

@media screen and (max-width: 920px) {
    .header {
        width: calc(100% - 400px);
    }
}